<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    {% include '../common_header_base.html' %}
    <link rel="stylesheet" href="{{ static_url('sys/css/error.css') }}"/>
    <title>RACMS</title>
</head>
</head>
<body class="container content-body">
<div class="content-body-title">
    <h4>{{_('System error')}}</h4>
</div>
<hr>
<div class="content-body-info">
    <div class="error-ex">
        <h1>{{err_title}}</h1>

        <h3>{{msg}}</h3>

        <p>{{info}}</p>

        <a class="btn btn-warning btn-big" onclick="{{func}}">{{func_text}}</a>
    </div>
</div>
</body>
</html>
