<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    {% include '../common_header_base.html' %}
    <link rel="stylesheet" href="{{ static_url('sys/css/error.css') }}"/>
    <title>RACMS</title>
</head>
<script>
    function back() {
        history.back();
    }
    function toPage(url) {
        try {
            parent.toPage(url);
        } catch (e) {
            location.href = url;
        }
    }
</script>
</head>
<body class="container content-body">
<div class="content-body-title">
    <h4>系统错误</h4>
</div>
<hr>
<div class="content-body-info">
    <div class="error_ex">
        <h1>{{err_title}}</h1>

        <h3>{{msg}}</h3>

        <p>{{info}}</p>

        <a class="btn btn-warning btn-big" onclick="{{func}}">{{func_text}}</a>
    </div>
</div>
</body>
</html>
