<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    {% include '../common_header_base.html' %}
    <link rel="stylesheet" href="{{ static_url('sys/css/index.css') }}"/>
    <script>
        /**
         跳转
         */
        function toPage(url) {
            location.href = url;
        }
        /**
         登出
         */
        function doLogout() {
            toPage("/{{logout_url}}");
        }

        var contentUrl = '';

        function setContent(aid, url) {
            if (null != url && "/" != url && "" != url && "null" != url && contentUrl != url) {
                contentUrl = url;
                $('.navbar-menu li').removeClass("active");
                var ae = $("#" + aid);
                ae.closest('li').addClass("active");
                $("#iframe").attr("height", 0);
                $("#iframe").attr("src", '/content/' + url);
            }
        }

        function initIFrameHeight() {
            var ifm = document.getElementById("iframe");
            var subWeb = document.frames ? document.frames["iframe"].document : ifm.contentDocument;
            if (ifm != null && subWeb != null) {
                ifm.height = subWeb.body.scrollHeight;
            }
        }

        function toHome() {
            setContent('ae_home', '{{main_page}}');
        }

        $(function () {
            toHome();
        });


    </script>
    <title>RACMS</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="btn btn-reindeer navbar-toggle" data-toggle="collapse"
               data-target="#navbar"
               aria-expanded="true">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <a class="navbar-brand" href="#" onclick="toHome();">
                <img alt="RACMS" src="{{ static_url('sys/image/logo.png') }}">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left navbar-menu">
                <li><a href="#" onclick="toHome();"><span class="glyphicon glyphicon-home"
                                                          aria-hidden="true"></span><span
                        class="menu-text"> 首页</span></a>
                </li>
                {% module NavbarMenu(main_menu,0) %}
                <li><a href="#"><span class="glyphicon glyphicon-folder-close"
                                      aria-hidden="true"></span><span class="menu-text"> 其他</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-user dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                    <img alt="" class="img-circle" src="{{ static_url('common/image/tmp_user_image.jpg') }}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;我的资料</a>
                        </li>
                        <li><a href="#"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;收件箱</a>
                        </li>
                        <li><a href="#" onclick="doLogout();"> <span class="glyphicon glyphicon-off"
                                                                     aria-hidden="true"></span>&nbsp;登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form search-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="检索">

                            <a class="btn btn-reindeer"> <span class="glyphicon glyphicon-search"
                                                               aria-hidden="true"></span></a></div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid content">
    <!--<div id="content-header">-->
    <!--</div>-->
    <iframe src="#" id="iframe" width="100%" onreadystatechange="iFrameHeight()" onLoad="initIFrameHeight()"
            runat="server"
            frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"
            allowtransparency="yes" class="content-iframe"></iframe>
</div>

<footer class="footer footer-default">
    <div class="container">
        <span class="footer-text">2014 &copy; ReindeerApps. 版权所有 <a href="/">www.reindeerapps.cn</a></span>
    </div>
</footer>
</body>
</html>