{% for action in actions %}
    {% if action %}
        {% if operatable %}
        <li class="operatable">
        {% else %}
        <li>
        {% end %}
            <div class="tree-item">
                <span class="tree-state glyphicon" aria-hidden="true"></span>
        {% if checkable %}
                <input id="{{action['id']}}" class="tree-checkbox" type="checkbox">
        {% end %}
                <button class="btn btn-sm tree-label">
        {% if action['icon'] %}
            {% if '1' == action['icon_type'] %}
                    <span class="glyphicon {{action['icon']}}" aria-hidden="true"></span>
            {% elif '2' == action['icon_type'] %}

            {% end %}
        {% else %}
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
        {% end %}
                    <span class="tree-text"> {{action['name']}}</span>
                </button>
            </div>
        {% if operatable %}
            <div class="tree-operation">
                <button class="btn btn-primary btn-xs" onclick="doAdd('{{action['id']}}');"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                <button class="btn btn-info btn-xs" onclick="doEdit('{{action['id']}}');"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <button class="btn btn-reindeer btn-xs" onclick="doDelete('{{action['id']}}');"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                <button class="btn btn-success btn-xs" onclick="doEditGroup('{{action['id']}}');"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></button>
            </div>
        {% end %}
        {% if action['children'] %}
            <ul>
            {% module ActionList(action['children'],checkable,operatable) %}
            </ul>
        {% end %}
        </li>
    {% end %}
{% end %}