{% extends "../../../base_index.html" %}
{% block title %}{{app_name}}{% end %}
{% block title_button %}
<button class="btn btn-primary btn-sm" onclick="doAddByCheck();"><span class="glyphicon glyphicon-plus-sign"
                                                                       aria-hidden="true"></span>&nbsp;{{_('Create')}}
</button>
<button class="btn btn-reindeer btn-sm" onclick="doBatchDelete();"><span class="glyphicon glyphicon-trash"
                                                                         aria-hidden="true"></span>&nbsp;{{_('Batch delete')}}
</button>
<button class="btn btn-success btn-sm" onclick="doRefresh();"><span class="glyphicon glyphicon-refresh"
                                                                    aria-hidden="true"></span>
</button>
{%end%}
{% block content %}
{% include '../../../common_header_ratree.html' %}
{% include '../../../common_header_dialog.html' %}
{% include '../../../common_header_datatable.html' %}
{% include '../../../common_header_validate.html' %}
<script>
    $(document).ready(function () {
        initRaTree('tree', '/cms/app/{{app_id}}', null, true, function (row) {
            return [
                {'btn': 'primary', 'onclick': 'doAdd(\'' + row.id + '\');', 'icon': 'glyphicon-plus-sign'},
                {'btn': 'info', 'onclick': 'doEdit(\'' + row.id + '\');', 'icon': 'glyphicon-pencil'},
                {'btn': 'reindeer', 'onclick': 'doDelete(\'' + row.id + '\');', 'icon': 'glyphicon-trash'},
                {'btn': 'success', 'onclick': 'doEditGroup(\'' + row.id + '\');', 'icon': 'glyphicon-flag'}
            ];
        }, function () {
        });
    });
</script>
<div>
    <tree id="tree"/>
</div>
{% include 'action_add.html' %}
{% end %}

