.data-table {
    width: 100% !important;
    border-color: #dadada;
}

.data-table th {
    text-align: center;

}

.data-table > tbody > tr > td, .data-table > tbody > tr > th, .data-table > tfoot > tr > td, .data-table > tfoot > tr > th, .data-table > thead > tr > td, .data-table > thead > tr > th {
    vertical-align: middle;
}

.data-table th:focus {
    outline-width: 0px;
!important;
}

@media (max-width: 767px) {
    .data-table-operation .btn {;
        display: block;
    }
}

.data-table-operation {
    text-align: center;
}

.data-table-operation .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.data-table thead .sorting {
    background: url('../image/sort_both.png') no-repeat center right;
}

.data-table thead .sorting_asc {
    background: url('../image/sort_asc.png') no-repeat center right;
}

.data-table thead .sorting_desc {
    background: url('../image/sort_desc.png') no-repeat center right;
}

.paging_full_numbers {
    padding: 0px 30px;
    border-right: medium none;
    height: 36px;
    line-height: 16px;
    text-align: right;
    display: inline;

}

.paginate_button:hover {
    background: #e8e8e8;
    color: #222222;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
}

.paginate_button {
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd #dddddd #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    text-shadow: 0 1px 0 #ffffff;
    background: #f5f5f5;
    color: #333333;
    text-decoration: none;
}

.paginate_active {
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd #dddddd #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    background: #b63141 !important;
    color: #ffffff !important;
    cursor: default !important;
    font-weight: normal;
}

.paginate_button_disabled {
    color: #AAAAAA !important;
}

.dataTables_length {
    padding: 0px 50px;
    float: right;
    font-size: 12px;
}

.dataTables_filter {
    padding: 0px 40px;
    text-align: left;
    font-size: 12px;
    float: right;
}

.data-table-box {
    min-height: 440px;
}

.data-table-box .data-table-left, .data-table-box .data-table-right {
    width: 50%;
    vertical-align: top;
}

.data-table-box .data-table-middle {
    text-align: center;
}

.data-table-box .data-table-middle .btn {
    margin: 5px;
}

.data-table-box .dataTables_filter {
    padding: 0px;
    display: block;
    text-align: center;
    float: none;
}

.data-table-box .paging_full_numbers {
    padding: 0px;
    display: block;
    text-align: center;
}

.data-table-box .data-table > tbody > tr > td, .data-table-box .data-table > tbody > tr > th, .data-table-box .data-table > tfoot > tr > td, .data-table-box .data-table > tfoot > tr > th, .data-table-box .data-table > thead > tr > td, .data-table-box .data-table > thead > tr > th {
    padding: 6px;
    vertical-align: middle;
}