<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    {% include './common_header_base.html' %}
    {% include './common_header_ajax.html' %}
    <link rel="stylesheet" href="{{ static_url('sys/css/index.css') }}"/>
    <script>

        function doLogout() {
            toPage("/logout");
        }

        function toHome() {
            toPage('home', '/content/{/{main_page}/}');
        }

        function toOther() {
            toPage('other', '/sys/test.html');
        }

        $(function () {

        });

    </script>
    <title>RACMS</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="btn btn-reindeer navbar-toggle" data-toggle="collapse"
               data-target="#navbar"
               aria-expanded="true">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <a class="navbar-brand" href="#" onclick="toHome();">
                <img alt="RACMS" src="{{ static_url('sys/image/logo.png') }}">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left navbar-menu">
                <li><a href="#" onclick="toHome();"><span class="glyphicon glyphicon-home"
                                                          aria-hidden="true"></span><span
                        class="menu-text"> {{_('Home')}}</span></a>
                </li>
                {% module NavbarMenu(None,0) %}
                <li><a href="#" onclick="toOther();"><span class="glyphicon glyphicon-folder-close"
                                                           aria-hidden="true"></span><span
                        class="menu-text"> {{_('Other')}}</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-user dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                    <img alt="" class="img-circle" src="{{ static_url('common/image/tmp_user_image.jpg') }}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;{{_('Your profile')}}</a>
                        </li>
                        <li><a href="#"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;{{_('In box')}}</a>
                        </li>
                        <li><a href="#" onclick="doLogout();"> <span class="glyphicon glyphicon-off"
                                                                     aria-hidden="true"></span>&nbsp;&nbsp;{{_('Sign out')}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form search-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="{{_('Search')}}">

                            <a class="btn btn-reindeer"> <span class="glyphicon glyphicon-search"
                                                               aria-hidden="true"></span></a></div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="content_container" class="container-fluid content">
    <div class="container content-body">
        <div class="content-body-title">
            <h4>
                {% block title %}
                {% end %}
            </h4>
            <div class="content-body-title-button">
                {% block title_button %}
                {% end %}
            </div>
        </div>
        <hr>
        <div class="content-body-info">
            {% block content %}
            {% end %}
        </div>
    </div>
</div>

<footer class="footer footer-default">
    <div class="container">
        <span class="footer-text">&copy; 2016 ReindeerApps.</span>
    </div>
</footer>
</body>
</html>