{% include './common_header_gritter.html' %}
<script src="{{ static_url('common/js/ajax_commit.js') }}"></script>
<script>
    function ajaxCommitWithGritter(type, url, param, succcess) {
        if (null == param || undefined == param) {
            param = [];
        }
        param.push({name: "_xsrf", value: getCookie("_xsrf")});
        doAjaxCommit(type, url, param, succcess, function (result) {
            showAjaxErrorGritter(result);
        });
    }
    function ajaxCommitFormWithGritter(form, succcess, param) {
        var url = $(form).attr("action");
        doAjaxCommitForm(url, form, succcess, function (result) {
            showAjaxErrorGritter(result);
        }, param);
    }
    function showAjaxErrorGritter(result) {
        var title = result.msg;
        var info = result.info;
        showGritter("error", title, info);
    }
</script>