<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ static_url('common/css/common.css') }}"/>
<script src="{{ static_url('jquery/js/jquery.min.js') }}"></script>
<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
<link rel="icon" href="{{ static_url('image/favicon.ico') }}">
<script src="{{ static_url('common/js/ie10-viewport-bug-workaround.js') }}"></script>
<script src="{{ static_url('common/js/page_common.js') }}"></script>
