<script>
    function setDialogContent(id, url) {
        if (null != url && "/" != url && "null" != url) {
            $("#dialog_iframe" + id).attr("height", 0);
            $("#dialog_iframe" + id).attr("src", url);
        }
    }

    function initDialogIFrameHeight(id) {
        var ifm = document.getElementById("dialog_iframe" + id);
        var subWeb = document.frames ? document.frames["dialog_iframe" + id].document : ifm.contentDocument;
        if (ifm && subWeb) {
            ifm.height = subWeb.body.scrollHeight;
        }
    }

    function showDialogByUrl(id, url, small) {
        if ($('#' + id).length == 0) {
            var size = 'modal-lg';
            if (small) {
                size = 'modal-sm';
            }
            var html =
            '<div id="'+id+'" class="modal fade">'+
                '<div class="modal-dialog '+size+' " role="document">'+
                    '<iframe src="#" id="dialog_iframe' + id + '" name="dialog_iframe' + id + '" width="100%" onreadystatechange="initDialogIFrameHeight(\'' + id + '\')" onLoad="initDialogIFrameHeight(\'' + id + '\')"  runat="server" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>' +
                '</div>'+
            '</div>';
            $("body").append(html);
        }
        setDialogContent(id, url);
        showDialog(id);
    }

    function showDialog(id) {
        var scrollTop = getTopWindow().document.documentElement.scrollTop || getTopWindow().document.body.scrollTop;
        var scrollHeight = getTopWindow().document.body.scrollHeight;
        var fieldHeight = scrollHeight - scrollTop - 160 - 60 - 60;
        $('#' + id).on('show.bs.modal', function () {
            $(this).css({
                top: function () {
                    var emptyFieldHeight = fieldHeight - $(this).find(".modal-content").height();
                    return  emptyFieldHeight > 0 ? scrollTop : scrollTop + emptyFieldHeight > 0 ? scrollTop + emptyFieldHeight : scrollTop;
                }
            });
        });
        $('#' + id).modal('show');
    }

    function hideDialog(id) {
        $('#' + id).modal('hide');
    }
</script>

