{% include './common_header_ajax.html' %}
<link rel="stylesheet" href="{{ static_url('common/css/ratree.css') }}"/>
<script>
    var default_data_keys = ['id','title','icon_type','icon','checked','children'];

    function initRaTree(tree_id, url, param, checkable, operations, onfinish ,data_keys) {
        $('#' + tree_id).addClass('ratree');
        ajaxCommitWithGritter('POST', url, param, function (result) {
            if (result.data) {
                var data = eval(result.data);
                var html = createTree(data, data_keys ? data_keys : default_data_keys, checkable, operations);
                $('#' + tree_id).html(html);
                afterCreateTree(tree_id);
                if (onfinish) {
                    onfinish();
                }
            }
        });
    }

    function createTree(data, data_keys, checkable, operations) {
        var html = '';
        if (data && data.length > 0) {
            html += '<ul>';
            for (var i = 0; i < data.length; i++) {
                var opers = operations ? operations(data[i]) : null;
                if (opers && opers.length > 0) {
                    html += '<li class="operatable">';
                } else {
                    html += '<li>';
                }
                html += ' <div class="tree-item">'
                html += '<span class="tree-state glyphicon" aria-hidden="true"></span>';
                if (checkable) {
                    if (data[i][data_keys[4]]) {
                        html += '  <input id="' + data[i][data_keys[0]] + '" class="tree-checkbox" type="checkbox" checked="checked" >';
                    } else {
                        html += '  <input id="' + data[i][data_keys[0]] + '" class="tree-checkbox" type="checkbox">';
                    }
                }
                html += '  <button class="btn btn-sm btn-content tree-label">';
                if (data[i][data_keys[3]]) {
                    if ('1' == data[i][data_keys[2]]) {
                        html += '<span class="glyphicon ' + data[i][data_keys[3]] + '" aria-hidden="true"></span>';
                    }
                    else if ('2' == data[i][data_keys[2]]) {
                    }
                }
                else {
                    html += '<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>';
                }
                html += ' <span class="tree-text"> ' + data[i][data_keys[1]] + '</span>';
                html += '</button>';
                html += '</div>';
                if (opers && opers.length > 0) {
                    html += '<div class="tree-operation">';
                    for (var j = 0; j < opers.length; j++) {
                        html += ' <button class="btn btn-' + opers[j].btn + ' btn-xs" onclick="' + opers[j].onclick + '"><span class="glyphicon ' + opers[j].icon  + '" aria-hidden="true"></span></button>';
                    }
                    html += '</div>';
                }
                if (data[i][data_keys[5]]) {
                    html += createTree(data[i][data_keys[5]], data_keys, checkable, operations);
                }
                html += '</li>';
            }
            html += '</ul>';
        }
        return html;
    }

    function afterCreateTree(tree_id) {
        $('#' + tree_id + ' li:has(ul)').addClass('parent-li').find(' > span');
        $('#' + tree_id + ' li.parent-li > .tree-item').on('click', function (e) {
            var children = $(this).parent('li.parent-li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).find(' > .tree-state').addClass('glyphicon-triangle-right').removeClass('glyphicon-triangle-bottom');
            } else {
                children.show('fast');
                $(this).find(' > .tree-state').addClass('glyphicon-triangle-bottom').removeClass('glyphicon-triangle-right');
            }
        });
        $('#' + tree_id + ' li.parent-li > .tree-item').find(' > .tree-state').addClass('glyphicon-triangle-bottom');
        $('#' + tree_id + ' .tree-checkbox').on('click', function (e) {
            e.stopPropagation();
            e.cancelBubble = true;
        });
        onPageLoadFinish();
    }

    function setTreeCheckBoxChecked(tree_id, data, id_key) {
        if (data) {
            for (var i = 0; i < data.length; i++) {
                $('#' + data[i][id_key ? id_key : default_data_keys[0]]).attr("checked", true);
            }
        }
    }

    function getTreeCheckBoxChecked(tree_id) {
        var checkeds = new Array();
        var checkBoxs = $('#' + tree_id + ' input.tree-checkbox[type=checkbox]');
        for (var i = 0; i < checkBoxs.length; i++) {
            if (checkBoxs[i].checked == true && null != $(checkBoxs[i]).attr('id') && '' != $(checkBoxs[i]).attr('id'))
                checkeds.push($(checkBoxs[i]).attr('id'));
        }
        return checkeds;
    }
</script>
